.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 4px;
    width: 50ch;
    max-width: 90vw;
}

.error {
    color: red;
}
