#Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moneyCounter {
    font-size: 2em;
    margin-bottom: 5px;
    cursor: pointer;
}

#namePlate {
    margin: 5px 0 10px 0;
}
