.otherPlayer {
    display: flex;
    justify-content: space-between;
}

.otherPlayer:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.otherPlayer:last-child {
    margin-bottom: 5px;
}
