#transactionsTable {
    border-collapse: collapse;
    table-layout: fixed;
}

.money {
    text-align: end;
    min-width: fit-content;
    white-space: nowrap;
}

#transactionsTable tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

#transactionsTable td {
    width: 22%;
}

#transactionsTable thead {
    border-bottom: 1px solid black;
    font-weight: bold;
}

#transactionsTable .transactionNb {
    width: 10%
}

.boldGreen {
    color: green;
    font-weight: bold;
}

.boldRed {
    color: red;
    font-weight: bold;
}
