#buttonsDiv {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3px;
}

#buttonsDiv button {
    width: 6ch;
    padding: 5px;
    border-radius: 4px;
}

#buttonsDiv button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.agree {
    color: green;
    border: 1px outset green;
}

.disagree {
    color: red;
    border: 1px outset red;
}

.vote {
    margin-bottom: 12px;
}

.doubleBorder {
    border: 3px double purple;
}

.voteTitle {
    font-size: large;
}
